body
{
    background-color: rgb(74, 75, 82);
}

h1
{
    font-family: "Lucida Console";
    font-size: 80px;
    margin: 100px;
    text-align: center;
}

p
{
    font-family: "Lucida Console";
    font-size: 17px;
    margin: 10px;
    color: whitesmoke;
}

.backdrop
{
    width: 160px;
    height: 60px;
    border-radius: 20px;
    border-color: rgb(48, 48, 48);
    background-color: rgb(82, 92, 95);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 20px;
}

.backdrop:hover
{
    background-color: rgb(58, 63, 65);
    box-shadow: 2px 5px rgb(76, 75, 95);
}

img
{
    width: 30px;
    height: 30px;
}

a
{
    text-decoration: none;
}

.align
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}